.Background-color{
    background-color: white;
}
.Servi-color{
    color: blue;
}


.nav-login-btn{
    display: flex;
    /* background-color: blue;
    color: white;
    padding: 8px 10px;
    border-radius: 8px;
    font-weight: bold;
    height: 30px; */

}
.Seek-color{
    color: #ffa500;
}
.Nav-hover{
    transition: all 0.3s ease; 
    border-radius: 10px !important;
    
    /* 1. Moved padding here so the button size is fixed BEFORE hovering */
    padding: 8px 18px !important;
}
.Nav-hover:hover{
    transform: translateY(-4px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2) !important;
    color: white !important;
    background-color: rgb(240, 150, 23);
    border-color: rgb(164, 164, 183) !important;

}


    
@media (max-width: 992px) {
    .btn-responsive {
        position: relative;
        left: 0;
        
    }

}
