.Background-color{
    background-color: white;
}
.Servi-color{
    color: blue;
}
.Seek-color{
    color: orange;
}
.Nav-hover{
    transition: 0.2s ease, box-shadow 0.2s ease;
    border-radius: 12px !important;
}
.Nav-hover:hover{
    transform: translateY(-4px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2) !important;
    border-color: rgb(164, 164, 183) !important;
    color: white !important;
    background-color: rgb(240, 150, 23);
    padding: 8px 18px !important;
    font-weight: bold !important;

}

